/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: "proxima-nova-alt";
  font-size: 16px;
  background-color: #fff;
}

.container {
  font-size: 18px;
}

p {
  font-size: 18px;
}

h2 {
  font-weight: 600;
}

.hd2 {
  background-color: yellow;
}

.header a:hover, .header a:focus {
  text-decoration: none;
}

.header h1 {
  border-bottom: #6ed636 6px solid;
  font-family: sans-serif;
  color: #000;
  font-weight: 700;
  padding-top: 5px;
}


/*h1 {
  border-bottom: wheat 2px solid;
}*/

.affiliates ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.affiliates li {
  display: inline-block;
  padding-right: 20px;
  padding-top: 20px;
}


a.action:hover, a.action:focus {
  color: #fff;
  text-decoration: none;
}

.hd-large {
  font-size: 62px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #6ed636;
  width: 100%;
  height: 100px;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer p {
  color: #eee;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h1 {
  line-height: 40px;
  padding-bottom: 15px;
  text-align: left;
  margin: none;
  width: 200px;
}

.header h1:focus, .header h1:hover {
  background-color: #fff;
}

.nav-pills > li {
float: none;
}

.nav > li > a {
  color: #000;
  font-weight: 600;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff;
}

.header h1 a {
  color: #000;
}



.pull-right {
  float: left !important;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.feature {
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 100%;
  float: none;
  background-color: #f4f4f4;
}
@media (max-width: 989px ) {
  .nav > li > a {
    padding: 10px 6px;
    font-size: 17px;
  }
  .container {
    background-position-x: -100px;
  }
}


@media (min-width: 420px) {
  .nav-pills > li {
    float: left;
  }
}

/* Customize container */
@media (min-width: 700px) {

  body {
    background-color: aliceblue;
  }

  .feature {
    width: 32.33333%;
    float: left;
    margin: 0.33333%;
    float: left;
    height: 275px;
  }
  .container {
    max-width: 960px;
    background-image: url("/images/tee-background2.png");
    padding-bottom: 28px;
  }
  .pull-right {
    float: right !important;
  }

  .header h1 {
    text-align: center;
    margin: 0 39.5% 0;
    width: 150px;
  }
  .jumbotron {
    background: url('https://img.grouponcdn.com/deal/nyqyyzuHs7PosRrBSagaMv/jim_fenner_golf_professional-2048x1242/v1/c700x420.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;   
  }
  .jumbotron h1 {
    padding: 10px 60px;
    font-size: 48px;
    background-color: #f9df8d;
    box-shadow: 0 0 10px #333;
  }

}

.feature {
  box-shadow: inset 0 0 10px #ccc;
}

div.feature img.project-img {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  transition: all 0.2s linear;
  opacity: 0.3;
  filter: alpha(opacity=40);  
}

div.feature div.overlay-colour {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opactiy=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: -webkit-opacity 0.2s 0s;
  -moz-transition: -moz-opacity 0.2s 0s;
  -ie-transition: -moz-opacity 0.2s 0s;
  -o-transition: -o-opacity 0.2s 0s;
  transition: opacity 0.2s 0s;
}

div.feature div.overlay-content {
  width: 100%;
  height: 135px;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: 0.5em 0;
}

div.overlay-content h3 {
  color: #000;
  text-align: center;
  margin-top: 20px;
  -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

div.feature div.overlay-content h5 {
  -webkit-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #777;
  margin-top: 12px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: 0.03em;
  height: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

/* Action Buttons */

.action {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #66c437), color-stop(1, #6ed636));
  background:-moz-linear-gradient(top, #66c437 5%, #6ed636 100%);
  background:-webkit-linear-gradient(top, #66c437 5%, #6ed636 100%);
  background:-o-linear-gradient(top, #66c437 5%, #6ed636 100%);
  background:-ms-linear-gradient(top, #66c437 5%, #6ed636 100%);
  background:linear-gradient(to bottom, #66c437 5%, #6ed636 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66c437', endColorstr='#6ed636',GradientType=0);
  background-color:#66c437;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display: block;
  margin: 0 1.2em;
  text-align: center;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.action:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ed636), color-stop(1, #66c437));
  background:-moz-linear-gradient(top, #6ed636 5%, #66c437 100%);
  background:-webkit-linear-gradient(top, #6ed636 5%, #66c437 100%);
  background:-o-linear-gradient(top, #6ed636 5%, #66c437 100%);
  background:-ms-linear-gradient(top, #6ed636 5%, #66c437 100%);
  background:linear-gradient(to bottom, #6ed636 5%, #66c437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ed636', endColorstr='#66c437',GradientType=0);
  background-color:#6ed636;
}
.action:active {
  position:relative;
  top:1px;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
