<h1 class="hd-large"> A little <br /> bit about Jim. </h1>

<h2 class="hd2"> Jim Fenner Golf Professional </h2>


<p>Brief introduction &amp; background paragraph...</p>

<ul>
	<li>Worcester Polytechnic Institute (WPI): Golf Coach</li>
	<li>Massachusetts Golf Association: Golf Instructor – Junior Golf Program</li>
	<li>Play Golf America: Learn to Golf Coordinator</li>
	<li>Worcester Public Schools Night Life: Instructor-Intro to Golf</li>
	<li>Worcester Country Long Drive Contest: Hosting Coordinator</li>
	<li>Worcester T&amp;G Hole in One Contest: Hosting Coordinator</li>
	<li>Cyprian Keyes Golf School: Golf Instructor</li>
	<li>Worcester Public Schools: Golf 20:20 Golf Coordinator</li>
	<li>Auburn Golf Driving Range: Golf Professional</li>	
</ul>

<!-- Jim Fenner
Golf Professional
Worcester Polytechnic Institute (WPI): Golf Coach

Massachusetts Golf Association: Golf Instructor – Junior Golf Program

Worcester Public Schools Night Life: Instructor-Intro to Golf

Play Golf America: Learn to Golf Coordinator


Worcester Country Long Drive Contest: Hosting Coordinator

Worcester T&G Hole in One Contest: Hosting Coordinator

Cyprian Keyes Golf School: Golf Instructor

Worcester Public Schools: Golf 20:20 Golf Coordinator

Auburn Golf Driving Range: Golf Professional -->