<h1 class="hd-large"> Golf is not <br /> for warm days, alone. </h1>

<h2 class="hd2">Join Us Wednesday Nights </h2>

<ul>
	<li>The Perfect Game – 64 Water Street, Worcester</li>
	<li>6:00pm - 9:00pm</li>
	<li>Wednesday Nights (Private Lessons Available)</li>
</ul>
<p>Don’t let the winter months slow your swing!  Come down to The Perfect Game Worcester and take a few swings on the indoor Golf Simulator with pointers from Jim Fenner, Golf Professional.  Let Jim help you with any problematic areas – whether it be your short game, chipping and/or putting, sand play or a little of everything.  Plus, playing on a simulator lets you show off your improving skills on world class courses – without ever getting on a plane!</p>


<!-- LOOKING TO KEEP YOUR SWING IN SHAPE THROUGH THE WINTER?


Join us Wednesday
Nights


Where: The Perfect Game – 64 Water Street, Worcester

Time: 6:00 -9:00 pm

When: Wednesday Nights (Private Lessons Available)


Don’t let the winter months slow your swing!  Come down to The Perfect Game Worcester and take a few swings on the indoor Golf Simulator with pointers from Jim Fenner, Golf Professional.  Let Jim help you with any problematic areas – whether it be your short game, chipping and/or putting, sand play or a little of everything.  Plus, playing on a simulator lets you show off your improving skills on world class courses – without ever getting on a plane!

For more information call

Jim Fenner cell: 774-242-6910 email: fennerj1@hotmail.com -->