<h1 class="hd-large"> Start young. <br /> </h1>

<h2 class="hd2">Junior Clinics </h2>

<h3>Free Indoor Golf Clinic – Saturdays starting 11/27</h3>
<p>Golf Professional, Jim Fenner will be on hand to provide an overview of the basics of golf on The Perfect Game’s indoor golf simulator (64 Water Street, Worcester)!</p>
<ul>
	<li>Saturday’s, starting 11/27 – 3 Sessions: 12:00, 1:00 and 2:00 PM</li>
	<li>Ages 7 – 15 (boys & girls)</li>
	<li>Auburn Golf Learning Center</li>
</ul>
<p>Space is Limited!! For more information and to reserve your Tee Time; contact Jim by cell: 774-242-6910 or email: fennerj1@hotmail.com</p>

<p>In season packages for junior clinics starting at $30.00 per weekend</p>
<ul>
	<li>Ages 7 – 16 (boys & girls)</li>
	<li>For more information, contact Jim by cell: 774-242-6910 or email: fennerj1@hotmail.com</li>
</ul>


<!-- FREE INDOOR GOLF CLINIC – SATURDAY’S STARTING 11/27
Golf Professional, Jim Fenner will be on hand to provide an overview of the basics of golf on The Perfect Game’s indoor golf simulator (64 Water Street, Worcester)!

WHEN: Saturday’s, starting 11/27 – 3 Sessions: 12:00, 1:00 and 2:00 PM
AGES: 7 – 15 (boys & girls)
INSTRUCTOR: Jim Fenner, Professional
Space is Limited!! For more information and to reserve your Tee Time; contact Jim by cell: 774-242-6910 or email: fennerj1@hotmail.com
AUBURN GOLF LEARNING CENTER
In season packages for junior clinics starting at $30.00 per weekend

AGES: 7 – 16 (boys & girls)
INSTRUCTOR: Jim Fenner, Professional
For more information, contact Jim by cell: 774-242-6910 or email: fennerj1@hotmail.com -->