<div class="jumbotron">
  <h1>Golf Lessons with Jim Fenner Golf Professional</h1>
  <h2>Worcester, MA</h2>
</div>

<div class="row marketing">
<a class="project-link live button" href="i10experience.html">
  <div class="feature">
    <img class="project-img" src="http://cache3.asset-cache.net/xc/450809897.jpg?v=2&c=IWSAsset&k=2&d=bu4T8MxbNk3yDlsTmgKBEPJMomWog9S4H0NJ3rJJ98I1" width="100%" height="auto">
    <div class="overlay-colour" style="background:#032c52"></div>
    <div class="overlay-content">
      <h3>5 One Hour Lessons</h3>
      <h5>$100</h5>
      <div class="button">
        <div class="arrow">
          <div class="tip"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature">
    <img class="project-img" src="http://cache3.asset-cache.net/xc/450809897.jpg?v=2&c=IWSAsset&k=2&d=bu4T8MxbNk3yDlsTmgKBEPJMomWog9S4H0NJ3rJJ98I1" width="100%" height="auto">
    <div class="overlay-colour" style="background:#032c52"></div>
    <div class="overlay-content">
      <h3>Winter Indoor Lessons</h3>
      <h5>XGOLF New England</h5>
      <div class="button">
        <div class="arrow">
          <div class="tip"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature">
    <img class="project-img" src="http://cache3.asset-cache.net/xc/450809897.jpg?v=2&c=IWSAsset&k=2&d=bu4T8MxbNk3yDlsTmgKBEPJMomWog9S4H0NJ3rJJ98I1" width="100%" height="auto">
    <div class="overlay-colour" style="background:#032c52"></div>
    <div class="overlay-content">
      <h3>Junior Clinics</h3>
      <h5>Free Every Saturday</h5>
      <div class="button">
        <div class="arrow">
          <div class="tip"></div>
        </div>
      </div>
    </div>
  </div>         
</a> 
</div>
