<div class="jumbotron">
  <h1>Golf Lessons with Jim Fenner Golf Professional</h1>
  <h2>Worcester, MA</h2>
</div>

<div class="row marketing">
  <div class="feature">
    <img class="project-img" src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/19/198/198743/140625_-161577521-vector-golf-background-f.jpg?1412409943" width="100%" height="auto">
    <div class="overlay-colour" style="background:#032c52"></div>
    <div class="overlay-content">
      <h3>Lessons Available</h3>
      <h5><b>Private or Group</b> <br/> Call Jim for details</h5>
      <a class="action" ng-href="#/group-lessons"> More Lessons
      </a>
    </div>
  </div>
  <div class="feature">
    <img class="project-img" src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/19/198/198743/140625_-161577521-vector-golf-background-f.jpg?1412409943" width="100%" height="auto">
    <div class="overlay-colour" style="background:#032c52"></div>
    <div class="overlay-content">
      <h3>Winter Indoor Lessons</h3>
      <h5><b>XGolf New England</b> <br/> Area's best technology </h5>
      <a class="action" ng-href="#/indoor-golf"> Indoor Golfing
      </a>
    </div>
  </div>
  <div class="feature">
    <img class="project-img" src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/19/198/198743/140625_-161577521-vector-golf-background-f.jpg?1412409943" width="100%" height="auto">
    <div class="overlay-colour" style="background:#032c52"></div>
    <div class="overlay-content">
      <h3>Junior Clinics</h3>
      <h5><b>Free on Saturdays</b> <br/> Space is limited!</h5>
      <a class="action" ng-href="#/junior-clinics"> Learn for Free
      </a>
    </div>
  </div>
    <div class="affiliates">
    <ul>
      <li><a href="http://www.cypriankeyes.com/"><img src="/images/cp.gif"></a></li>
      <li><a href="http://xgolfnewengland.com"><img src="/images/xgolf.png"></a></li>
    </ul>
  </div>          
</div>
