
<div class="row showcase">
  <div class="col-md-12">
    <h1>Justin <br/>Gerald <br/>Witkowski </h1>
  </div>
</div>
<div class="row main-content">
  <div class="col-md-9 col-md-offset-3">
    <h2>Web Developer</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet blandit metus a consectetur. Nullam tempor ornare ultrices. Integer arcu ex, tristique in scelerisque eget, scelerisque a orci. Pellentesque nisl neque, euismod a nunc eget, dictum tristique mi. Aenean sollicitudin a massa id tristique. Duis risus enim, hendrerit vehicula facilisis vitae, molestie a massa. Phasellus placerat ultrices sem feugiat aliquam.<p>
    <a href="#/work" class="primarybutton">See Portfolio</a>
    <a href="#/about" class="primarybutton">About Me</a>
  </div>
</div>