<div class="row">
<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="http://buttonparty.com/latest">
      <div class="hovercontent">
        <h1>Travelers</h1>
        <h3>Access and Identity Management</h3>
      </div>
      <img src="/images/travelers.jpg" />
    </a>
  </div>
</div>
<div class="col-md-8">
  <h2>Travelers</h2>
  <h3>Front-end Web Developer</h3>
  <p>Project Contributions... Nullam tempor ornare ultrices. Integer arcu ex, tristique in scelerisque eget, scelerisque a orci. Pellentesque nisl neque, euismod a nunc eget, dictum tristique mi. Aenean sollicitudin a massa id tristique. Duis risus enim, hendrerit vehicula facilisis vitae, molestie a massa. Phasellus placerat ultrices sem feugiat aliquam.</p>
</div>
</div>
<div class="row">
<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="http://buttonparty.com/latest">
      <div class="hovercontent">
        <h1>Travelers</h1>
      </div>
      <img src="/images/travelers.jpg" />
    </a>
  </div>
</div>
<div class="col-md-8">
  <h2>XGolf New England</h2>
  <p>Project Contributions... Nullam tempor ornare ultrices. Integer arcu ex, tristique in scelerisque eget, scelerisque a orci. Pellentesque nisl neque, euismod a nunc eget, dictum tristique mi. Aenean sollicitudin a massa id tristique. Duis risus enim, hendrerit vehicula facilisis vitae, molestie a massa. Phasellus placerat ultrices sem feugiat aliquam.</p>
</div>
</div>
<div class="row">
<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="http://buttonparty.com/latest">
      <div class="hovercontent">
        <h1>Jim Fenner Golf</h1>
        <h3>Access and Identity Management</h3>
      </div>
      <img src="/images/travelers.jpg" />
    </a>
  </div>
</div>
<div class="col-md-8">
  <h2>Jim Fenner Golf</h2>
  <p>Project Contributions... Nullam tempor ornare ultrices. Integer arcu ex, tristique in scelerisque eget, scelerisque a orci. Pellentesque nisl neque, euismod a nunc eget, dictum tristique mi. Aenean sollicitudin a massa id tristique. Duis risus enim, hendrerit vehicula facilisis vitae, molestie a massa. Phasellus placerat ultrices sem feugiat aliquam.</p>
</div>
</div>
<div class="row">
<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="http://buttonparty.com/latest">
      <div class="hovercontent">
        <h1>EMPAC</h1>
        <h3>Access and Identity Management</h3>
      </div>
      <img src="/images/travelers.jpg" />
    </a>
  </div>
</div>
<div class="col-md-8">
  <h2>EMPAC @ Rensselaer Polytechnic Institute</h2>
  <p>Project Contributions... Nullam tempor ornare ultrices. Integer arcu ex, tristique in scelerisque eget, scelerisque a orci. Pellentesque nisl neque, euismod a nunc eget, dictum tristique mi. Aenean sollicitudin a massa id tristique. Duis risus enim, hendrerit vehicula facilisis vitae, molestie a massa. Phasellus placerat ultrices sem feugiat aliquam.</p>
</div>
</div>