<div class="row">
  <div class="col-md-12 work-top">
    <h1>Work Experience</h1>
    <p>In every project I seek to exceed expectations by under-promising and over delivering. Below are some of the projects I've worked on including full-time and freelance work.</p>
  </div>
</div>

<div class="work-row">
<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="https://selfservice.travelers.com/registration" target="_blank">
      <div class="hovercontent">
        <h1>Travelers</h1>
        <h3>Developed large scale, customer-facing, and responsive access and identity management SPAs and contributed to agent portal applications with a focus on UX design.</h3>
      </div>
      <img src="/images/travelers.jpg" />
    </a>
  </div>
</div>
<div class="col-md-8 work-desc">
  <a href="https://selfservice.travelers.com/registration" target="_blank"><h2>Travelers</h2></a>
  <p>Developed large scale, customer-facing, and responsive access and identity management
SPAs and contributed to agent portal applications with a focus on UX design.</p>
</div>

<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="http://xgolfnewengland.com/" target="_blank">
      <div class="hovercontent">
        <h1>XGolf New England</h1>
        <h3>Custom developed and designed using DJango.</h3>
      </div>
      <img src="/images/xgolf-ne.gif" />
    </a>
  </div>
</div>
<div class="col-md-8 work-desc">
  <a href="http://xgolfnewengland.com/" target="_blank"><h2>XGolf New England</h2></a>
  <p>Custom developed and designed using DJango.</p>
</div>
<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="http://fennergolf.com">
      <div class="hovercontent">
        <h1>Jim Fenner Golf</h1>
        <h3>Custom developed and designed using MEAN stack.</h3>
      </div>
      <img src="/images/jim-fenner.gif" />
    </a>
  </div>
</div>
<div class="col-md-8 work-desc">
  <a href="http://fennergolf.com"><h2>Jim Fenner Golf</h2></a>
  <p>Custom developed and designed using MEAN stack.</p>
</div>
</div>

<div class="col-md-4">
  <div class="hoveritem">
    <a class="link" href="http://empac.rpi.edu">
      <div class="hovercontent">
        <h1>EMPAC @ Rensselaer Polytechnic Institute</h1>
        <h3>Contributed to a complete website redesign using Drupal 7 powered CMS for an experimental arts theater.</h3>
      </div>
      <img src="/images/empac-concert-hall.gif" />
    </a>
  </div>
</div>
<div class="col-md-8 work-desc">
  <a href="http://empac.rpi.edu"><h2>EMPAC @ Rensselaer Polytechnic Institute</h2></a>
  <p>Contributed to a complete website redesign using Drupal 7 powered CMS for an experimental
arts theater.</p>
</div>
</div>